<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                        version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description></description>
		<display-name>EditUserDataController</display-name>
		<servlet-name>EditUserDataController</servlet-name>
		<servlet-class>by.epam.epamlab.session.user_controllers.EditUserDataController
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AddingUserController</display-name>
		<servlet-name>AddingUserController</servlet-name>
		<servlet-class>by.epam.epamlab.session.user_controllers.AddingUserController
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ChangeUserPasswordController</display-name>
		<servlet-name>ChangeUserPasswordController</servlet-name>
		<servlet-class>by.epam.epamlab.session.user_controllers.ChangeUserPasswordController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserDataController</servlet-name>
		<url-pattern>/EditUserDataController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddingUserController</servlet-name>
		<url-pattern>/AddingUserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeUserPasswordController</servlet-name>
		<url-pattern>/ChangeUserPasswordController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>WelcomePageController</welcome-file>
	</welcome-file-list>
</web-app>